
h1, h2, h3, h4, h5, h6, body {
    color: black;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: 300;
}

h2 {
    font-size: medium;
    font-style: italic;
}

h3 {
    color: #0072c1;
}

body {
    max-width: 800px;
    margin: 60px auto;
    line-height: 145%;
}

.topnav {
    background-color: #0072c1;
    overflow: hidden;
}
  
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #0285e1;
    color: white;
}
  
.topnav a.active {
    background-color: #0285e1;
    color: white;
}