* {
    box-sizing: border-box;
}

/* BODY */

body {
    line-height: 1.5;
    margin: 3rem auto;
    max-width: 680px;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    padding: 0 1rem;
    background: white;
}

.bigger-text {
  overflow: hidden;
  background-color: whitesmoke;
  padding: 15px;
  border-radius: 4px;
  color: black;
}

p {
  font-size: 14px;
}

li {
  font-size: 14px;
}

h3 {
  color: #6884de;
}

h4 {
  display: block;
  margin-top: .7em;
  margin-bottom: .7em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

dd { 
  font-size: 14;
}

/* HEADER */

.header {
  overflow: hidden;
  background-color: #e1e5f9;
  padding: 20px 10px;
  border-radius: 4px;
  color: black;
}

.header a{
  float: left;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  color: black;
  text-decoration: underline;
}

.header a.active {
  color: black;
}

.header-right {
  float: right;
}

@media screen and (max-width: 570px) {
  .header a {
        float: none;
        display: block;
        text-align: left;
  }
  .header-right {
        float: none;
  }
}

/* LINKS */

a:link { 
  color: black;
  text-decoration: none;
  font-weight: 400;
}

a:visited { 
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active { 
  text-decoration: none; 
}

/* IMAGES */

img {
    margin-left: 7px;
}

.page-img {
  display: block;
  margin-left: 50px;
}

.project-images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

/* CONTAINERS */
.container-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LINE */

hr {
    border: 0;
    border-bottom: 2px solid #eee;
    margin: 2rem auto;
}

/* SPAN */

span{
  color: #6884de;
}

/* FOOTER */

footer {
  margin: 3rem auto;
  max-width: 680px;
  display: block;
}

.footer-right {
  text-align: center;
}

/* DIV */

.div-topofpage {
  display: flex;
  align-items: center;
  justify-content: center;
}