
h1, h2, h3, h4, h5, h6, body {
    color: black;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: 300;
}

h2, h3, h4, h5, p {
    padding-left: 5%;
    padding-right: 5%;
    margin: 15%;
}

* {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    overflow-x: hidden;
    display: block;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    top: 0;
    left: 0;
    right: 0;
    background-color: whitesmoke;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
}

.menu {
    padding-left: 5%;
}

h3 {
    color: #0072c1;
}

nav {
    display: block;
}