@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Fira+Code&display=swap');

h1, h2, h3, h4, h5, h6, body {
    font-weight: 300;
}

body {
    max-width: 800px;
    margin: 60px auto;
    line-height: 145%;
}